{
	"printWidth": 100,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"importOrder": [
		"^react$",
		"^react-native$",
		"^expo",
		"^@/components/(.*)$",
		"^@/constants/(.*)$",
		"^@/hooks/(.*)$",
		"^@/utils/(.*)$",
		"^@/types/(.*)$",
		"^[./]"
	],
	"plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
